@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

.container {
    padding: 0 8.4rem;
}

.container1 {
    display: block;
    background: #fff;
    position: fixed; /* Фиксированная позиция, чтобы оно оставалось на месте, когда страница прокручивается */
    z-index: 1; /* Устанавливаем высокий z-index, чтобы окно было поверх других элементов */
    left: 60%;
    top: 90%;
    width: 35%; /* 100% ширина окна */
    height: 10%;
    animation: navani .8s ease forwards;
    animation-delay: calc(.15s * var(--navAni));
    opacity: 1 !important;
}

.hidden {
    display: none;
  }

.container1 p{
    display: block;
    padding: 0px 40px 0px;
    margin: 2px 0;
    color: #000;
    text-align: center;
    padding-top: 10px; /* Верхний отступ 10px */
    padding-right: 20px; /* Правый отступ 20px */
    padding-bottom: 10px; /* Нижний отступ 10px */
    padding-left: 20px; /* Левый отступ 20px */
    animation: navani .8s ease forwards;
    animation-delay: calc(.15s * var(--navAni));
}

a{
    text-decoration: none;
    color: #000;
}

.element{
    display: none;
}

img{
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body{
    background-color: #f1f1f1;
}

ul {
    padding: 0 80px;
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    animation: navani .6s ease forwards;
    animation-delay: calc(.15s * var(--navAni));
  }
  
  ul a {
    color: #000;
  }
  
  ul li {
    padding: 5px;
    margin-left: 10px;
  }
  
  ul li:hover {
    transform: scale(1.1);
    transition: 0.3s;
  }

nav{
    list-style: none;
    padding: 0 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    animation: navani .6s ease forwards;
    animation-delay: calc(.15s * var(--navAni));
}

nav a.logo{
    font-size: 33px;
    color: #000;
    font-weight: 600;
}

nav .links a:not(:last-child){
    margin-right: 40px;
}

nav .login button{
    padding: 8px 14px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    cursor: pointer;
    animation: navani .8s ease forwards;
}

nav .login text.signup{
    color: #000;
    border-radius: 4px;
    margin-right: 10px;
}

nav .login button.signup{
    background-color: #708090;
    color: #fff;
    border-radius: 5px;
    margin-right: 20px;
}

 button{
    padding: 8px 14px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    cursor: pointer;
    animation: navani .8s ease forwards;
    align-items: center;
}

 text.signup{
    color: #000;
    border-radius: 4px;
    margin-right: 10px;
}

 button.signup{
    background-color: #708090;
    color: #fff;
    border-radius: 5px;
    margin-right: 20px;
}

nav .login button.language{
    background-color: #708090;
    color: #fff;
    border-radius: 4px;
    margin-right: 0px;
}

nav .login button.language.notactive{
    color: #708090;
    border-radius: 4px;
    margin-right: 14px;
}

header{
    padding: 0 80px;
    height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation: navani .8s ease forwards;
    animation-delay: calc(.15s * var(--navAni));
}

header .left{
    width: 700px;
}

header .left h1{
    font-size: 60px;
}

header .left h1 span{
    color: #0f2182;
}

header .left p{
    margin: 8px 0;
    color: #777;
}

header .left a{
    display: flex;
    align-items: center;
    background: #708090;
    width: 140px;
    padding: 18px;
    border-radius: 10px;
}

header .left a i{
    background-color: #fff;
    font-size: 24px;
    border-radius: 50%;
    padding: 8px;
}

header .left a span{
    color: #fff;
    margin-left: 10px;
}

header .right{
    width: 250px;
    line-height: 0.6;
    word-spacing: 4px;
    margin-top: 270px;
}

header .right h1{
    font-size: 30px;
}

header .right h1 span{
    color: #0f2182;
}

header .right p{
    margin: 20px 0;
    color: #777;
}

header .right a{
    display: flex;
    align-items: center;
    background: none;
    width: 150px;
    padding: 18px;
    border-radius: 6px;
    margin: 15px 0;
    border: 2px solid #708090;
}

header .right a i{
    background-color: #708090;
    font-size: 24px;
    border-radius: 50%;
    padding: 8px;
}

header .right a span{
    color: #708090;
    margin-left: 10px;
}

header img{
    width: 550px;
}

.modal {
    display: none; /* По умолчанию окно скрыто */
    position: fixed; /* Фиксированная позиция, чтобы оно оставалось на месте, когда страница прокручивается */
    z-index: 1; /* Устанавливаем высокий z-index, чтобы окно было поверх других элементов */
    left: 30%;
    top: 20%;
    width: 40%; /* 100% ширина окна */
    height: 50%; /* 100% высота окна */
    animation: navani .8s ease forwards;
    animation-delay: calc(.15s * var(--navAni));
  }

  .modal-content {
    background-color: #fefefe; /* Белый фон контента */
    margin: 15% auto; /* Выравнивание по центру по вертикали и горизонтали */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* 80% ширина контента */
  }

  .modal h1{
    padding: 10px 50px 20px;
    margin: 2px 0;
    color: #000;
    text-align: center;
  }

  .modal h2{
    padding: 0px 40px 0px;
    margin: 2px 0;
    color: #000;
    text-align: center;
  }

  .modal p{
    padding: 20px 0px 20px;
    margin: 0px 0;
    color: #000;
    text-align: center;
  }

  .word-with-line {
    position: relative;
    display: flex;
    justify-content: center; /* Горизонтальное выравнивание по центру */
    align-items: center; /* Вертикальное выравнивание по центру */
    margin: 0px 0;
    color: #000;
    text-align: center;
  }
  
  .word-with-line::after {
    content: '';
    position: absolute;
    bottom: 2px; /* Регулируйте отступ под черточкой по вашему усмотрению */
    left: 22%;
    width: 55%;
    height: 1px; /* Толщина черточки */
    background-color: black; /* Цвет черточки */
    
  }

  .modal .signup1 {
    justify-content: center;
    position: relative;
    transform: translate(-54%, 0%);
    padding: 10px 30% 10px;
    background-color: #708090;
    color: #fff;
    border-radius: 5px;
    margin-right: 20px;
  }

  .container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
form .user-details .input-box{
    width: 90%;
    height: 45px;
    justify-content: center;
}
.user-details .input-box input{
    height: 40px;
    width: 94%;
}

  .modal i{
    display: flex;
    justify-content: center; /* Горизонтальное выравнивание по центру */
    align-items: center; /* Вертикальное выравнивание по центру */
    color: #708090;
    font-size: 100px;
    font-weight: bold;
  }

  .close {
    color: #000;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  } /* кнопка закрытия*/

  .footer.container{
    width: 250px;
    line-height: 0.6;
    word-spacing: 4px;
    margin-top: 270px;
  }

.container1 button{
    background: none;
    width: 90px;
    padding: 10px 20px;
    border-radius: 6px;
    border: 2px solid #708090;
    float: right;
    margin-top: 10px; /* Верхний отступ 10px */
    margin-right: 30px; /* Правый отступ 20px */
    margin-bottom: 10px; /* Нижний отступ 10px */
    margin-left: 20px; /* Левый отступ 20px */
    animation: navani .8s ease forwards;
    animation-delay: calc(.15s * var(--navAni));
}


  #hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
    margin-left: auto;
  }
  
  #hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: #708090;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
  }
  
  .open .bar2 {
    opacity: 0;
  }
  
  .open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
  }
  
  .open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  
  .mobile-menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    height: calc(100vh - 50px);
    width: 100%;
  }
  
  .mobile-menu li {
    margin-bottom: 10px;
  }
  
  @media only screen and (max-width: 600px) {
    header nav {
      display: none;
    }
  
    #hamburger-icon {
      display: block;
    }
  }

  @keyframes leftSideAni {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes navani {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes rightSideAni {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes topSideAni {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes SocialAni {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
/* @keyframes ImgAni {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-9px);
    }
    100% {
        transform: translateX(0);
    }
} */
@keyframes imageAni {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}


@media screen and (max-width: 1400px) {
    
    nav,
    header,
    h2.separator,
    .sell-nft,
    .nft-shop,
    .sellers{
        padding: 0 40px;
    }

    header .left h1{
        font-size: 60px;
    }

    header img{
        width: 540px;
    }

    .nft-shop .nft-list .item img{
        width: 220px;
        height: 220px;
    }

    footer{
        padding: 100px 40px;
    }

    footer h3{
        font-size: 38px;
    }

}

@media screen and (max-width: 1200px) {
    
    header .left h1{
        font-size: 48px;
    }

    header img{
        width: 480px;
    }

    h2.separator{
        font-size: 34px;
    }

    .sell-nft .item .header i{
        font-size: 36px;
    }

    .sell-nft .item .header h5{
        font-size: 15px;
    }

    .sell-nft .item p{
        font-size: 13px;
    }

    .nft-shop .nft-list{
        flex-wrap: wrap;
        row-gap: 30px;
    }

    .nft-shop .nft-list .item{
        width: 48%;
    }

    .nft-shop .nft-list .item img{
        width: 100%;
        height: auto;
    }

    .sellers{
        flex-wrap: wrap;
    }

    .sellers .item{
        width: 48%;
    }

    footer .links a{
        font-size: 15px;
    }

}

@media screen and (max-width: 992px) {
    
    nav a.logo{
        font-size: 28px;
    }

    nav .links a{
        font-size: 14px;
    }

    header{
        flex-direction: column-reverse;
        height: auto;
        margin-bottom: 60px;
    }

    header .left{
        width: 100%;
    }

    header img{
        width: 100%;
    }

    .sell-nft{
        flex-wrap: wrap;
        gap: 20px;
    }

    .sell-nft .item{
        width: 48%;
    }

    .sellers{
        gap: 20px;
    }

    footer{
        flex-direction: column;
        padding: 60px 40px;
    }

    footer h3{
        margin-bottom: 40px;
        font-size: 32px;
    }

    footer .right{
        width: 100%;
        align-items: center;
    }

}

@media screen and (max-width: 768px) {
    
    nav,
    header,
    h2.separator,
    .sell-nft,
    .nft-shop,
    .sellers{
        padding: 0 20px;
    }

    nav a.logo{
        display: none;
    }

    nav .links a{
        font-size: 12px;
    }

    nav .login button{
        font-size: 12px;
        padding: 6px 10px;
    }

    header .left h1{
        font-size: 36px;
    }

    header .left p{
        font-size: 14px;
    }

    header .left a{
        padding: 6px;
        width: 160px;
        font-size: 14px;
    }

    header .left a i{
        padding: 6px;
    }

    h2.separator{
        font-size: 30px;
    }

    footer{
        padding: 40px 20px;
    }

}

@media screen and (max-width: 576px) {

    .sell-nft .item{
        width: 100%;
    }

    .nft-shop .nft-list .item,
    .sellers .item{
        width: 47%;
    }

    .nft-shop .category a{
        font-size: 13px;
    }
    
    .container .links {
        display: none;
      }
    
      .container .login {
        display: none;
      }
    
      #hamburger-icon {
        display: block;
        flex: 1;
      }
    
    .container {
        padding: 0 4rem;
    }

    header .left h1{
        font-size: 50px;
        bottom: 100%;
    }

    header .right p{
        font-size: 30px;
        bottom: 100%;
    }
    
    header .right h1{
        font-size: 50px;
        text-align: right;
    }
    
    header .right p{
        font-size: 14px;
        text-align: right;
        bottom: 100%;
    }
    
    header .right a{
        padding: 6px;
        width: 160px;
        float: right;
    }



    

    header img{
        width: 50%;
    }
}